@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h2 {
  padding: 0 0 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  background-color: #353535;
  padding: 1rem 2rem;
  color: white;
}
footer h2 {
  font-weight: 500;
  font-family: "Shrikhand", "sans-serif";
  padding: 1rem 0;
}
footer p {
  padding: 0.2rem;
}

@media (min-width: 2000px) {
  header, main, footer, .city {
    max-width: 2300px;
    margin: auto;
  }
}
.loader {
  position: fixed;
  display: grid;
  place-items: center;
  height: 100vh;
  inset: 0;
  z-index: 1;
  background-color: #ffffff;
  opacity: 0.7;
  animation: finish 0.5s 3s forwards;
  transform-origin: top;
}
.loader i {
  animation: spin 3s infinite linear;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem grey;
  padding: 0.3rem;
  position: relative;
}

.city {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #f3f3f3;
  justify-content: center;
  padding: 0.5rem;
}
.city h2 {
  padding: 0;
}
.city i {
  font-size: 1.5rem;
}

.explorer {
  text-align: center;
}
.explorer h2 {
  margin: 0;
  font-size: 2rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1.5rem;
  transition: all 200ms;
  margin-top: 1rem;
  cursor: pointer;
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 2px 1px 8px -3px #000;
}
.explorer button:hover {
  transform: translateY(0) scale(1.02);
  opacity: 0.9;
}

.function {
  counter-reset: number;
  padding: 0 1rem;
}
.function ol {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  flex-direction: column;
}
@media (min-width: 1000px) {
  .function ol {
    flex-direction: row;
  }
}
.function li {
  position: relative;
  background-color: #f3f3f3;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -3px #000;
  font-size: 17px;
}
.function li i.fas {
  margin-right: 1rem;
  color: grey;
}
.function li:hover {
  transform: translateY(0) scale(1.02);
  opacity: 0.9;
  opacity: 1;
  background-color: #dabcff;
}
.function li:hover .fas {
  color: #9356DC;
}
.function li::before {
  counter-increment: number;
  content: counter(number);
  color: white;
  background-color: #9356DC;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
  left: -1rem;
}

.resto {
  padding: 2rem 1rem;
  background-color: #f3f3f3;
}
.resto .menu_carte {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.resto .menu_carte .card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -3px #000;
}
.resto .menu_carte .card img {
  border-radius: 1rem 1rem 0 0;
  height: 15rem;
  width: 100%;
  object-fit: cover;
}
.resto .menu_carte .card .description {
  padding: 1rem;
  position: relative;
}
.resto .menu_carte .card .description h3 {
  margin: 0;
  margin-bottom: 0.5rem;
}
.resto .menu_carte .card .description i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 1.2rem;
}
.resto .menu_carte .card .description .fas {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms;
}
.resto .menu_carte .card .description:hover .fas {
  opacity: 1;
  transform: scale(1.1);
}
.resto .menu_carte .new {
  position: relative;
}
.resto .menu_carte .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
  box-shadow: 2px 1px 8px -3px #000;
}
@media (min-width: 1000px) {
  .resto .menu_carte {
    grid-template-columns: 1fr 1fr;
  }
}

@keyframes spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes fade {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes finish {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.fa-arrow-left {
  display: flex;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  transition: all 0.2s;
}
.fa-arrow-left:hover {
  transform: translateY(-50%) scale(1.2);
  opacity: 0.9;
}

.banner img {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center;
}

.title {
  margin: -4rem 0 -1.2rem 0;
}
.title h2 {
  font-family: "Shrikhand", "sans-serif";
  padding: 1rem;
  position: relative;
  border-radius: 2rem 2rem 0 0;
  background-color: #f3f3f3;
}
.title h2 i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 1.2rem;
}
.title h2 .fas {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms;
}
.title h2:hover .fas {
  opacity: 1;
  transform: scale(1.1);
}

main {
  background-color: #f3f3f3;
}

.menus-grid {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 1000px) {
  .menus-grid {
    grid-template-columns: 1fr;
  }
}
.menus-grid .submenu {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus-grid .submenu h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 1rem;
  position: relative;
}
.menus-grid .submenu h3::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 0.25rem;
  width: 2.5rem;
  background-color: #99E2D0;
}
.menus-grid .submenu .menu-list {
  background-color: white;
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1.3rem;
  box-shadow: 2px 1px 8px -3px #000;
  animation: fade 1s both;
}
.menus-grid .submenu .menu-list:nth-child(1) {
  animation-delay: 0.1s;
}
.menus-grid .submenu .menu-list:nth-child(2) {
  animation-delay: 0.2s;
}
.menus-grid .submenu .menu-list:nth-child(3) {
  animation-delay: 0.3s;
}
.menus-grid .submenu .menu-list:nth-child(4) {
  animation-delay: 0.4s;
}
.menus-grid .submenu .menu-list:nth-child(5) {
  animation-delay: 0.5s;
}
.menus-grid .submenu .menu-list h4, .menus-grid .submenu .menu-list p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menus-grid .submenu .menu-list .menu-description {
  padding: 1rem;
  overflow: hidden;
}
.menus-grid .submenu .menu-list .price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-weight: bold;
  padding: 1rem;
}
.menus-grid .submenu .menu-list .menu-check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
.menus-grid .submenu .menu-list .menu-check i {
  display: grid;
  place-items: center;
  background-color: white;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  color: #99E2D0;
}
.menus-grid .submenu .menu-list:hover {
  cursor: pointer;
}
.menus-grid .submenu .menu-list:hover .menu-check {
  margin-right: 0;
}
.menus-grid .submenu .menu-list:hover i {
  animation: spin 0.5s ease;
}

.order {
  height: 20vh;
  display: grid;
  place-items: center;
}
.order button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1.5rem;
  transition: all 200ms;
  margin-top: 1rem;
  cursor: pointer;
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 2px 1px 8px -3px #000;
}
.order button:hover {
  transform: translateY(0) scale(1.02);
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
